* {
    margin: 0%;
    padding: 0%;

    color: white;
    font-family: poppins, sans-serif;

    overflow-x: hidden;
}

body {
    background-color: #000000;
}

/*#22203b*/
#main-text {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 3vw;
    font-weight: bold;


}

#main-text h1:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

nav {
    background-color: #313133;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0;
    z-index: 1000;
}

.info {
    background-color: #313133;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 85vw;
    border-radius: 10rem;
    margin: 0 auto;
    padding: 2rem;
}

ol,
li {
    list-style-position: inside;
}

.python {
    background-color: rgb(128, 126, 122);
    color: white;
    border-radius: 2rem;
    align-items: none;
    text-align: left;
    box-sizing: border-box;
    overflow: visible;
    align-self: flex-start;
    padding: 0.5rem 1rem;
    display: inline-flex
}